body{
    background-color: #e0e0e0;
    margin: 0;
}

/* ------------------------------------ Encabezado ------------------------------------ */

#barUp{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

#logo{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 20px;
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(0, 0, 1, 0.527) 2px 2px 3px;
    padding: 7px;
    border-radius: 50%;
}

#barUp h1{
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    Text-shadow: rgba(0, 0, 0, 0.74) /* right */2px /* down */3px 2px;
    margin: 5px 0;
    padding: 5px;
    font-weight: 900;
    font-size: 45px;
    text-align: left;
    color: #ffffff;
}

.live-urgencias::before{
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: #10c22b;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    left: -5px;
    bottom: 3.5px;
}

.uu{
    width: 22%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.uu a{
    text-decoration: none;
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

.uu a blockquote{
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 118%;
}

/* ------------------------------------ Section Cookies ------------------------------------ */

.aviso-cookies{
    width: calc(100% - 40px);
    max-width: 300px;
    padding: 20px;
    line-height: 150%;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    display: none;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, 0.459);
    text-align: center;
}

.aviso-cookies.activo{
    display: block;
}

.galleta{
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.titulos-cookies,
.parrafo-cookies{
    margin-bottom: 15px;
}

.boton-cookies{
    width: 100%;
    background-color: #595959;
    padding: 15px 20px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: .3 ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.boton-cookies:hover{
    background-color: #000;
}

.enlace-cookies{
    color: #2379aa;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.enlace-cookies:hover{
    text-decoration: underline;
}


.fondo-aviso-cookies{
    display: none;
    background-color: rgba(0, 0, 0, 0.20);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.fondo-aviso-cookies.activo{
    display: block;
}

/* ------------------------------------ Container section comentarios ------------------------------------ */

#banner1{
    width: 100%;
    min-height: 700px;
    margin-bottom: 2.2rem;
    padding: 0;
    background: linear-gradient( rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(photo/Pastillas.jpg) no-repeat center center fixed;
    background-size: cover;
}

#Forums{
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 2rem 0;
}

.Elemento{
    background: #000000c4;
    width: 320px;
    min-height: 280px;
    margin: 8px 4px;
    font-weight: 700;
    font-size: 90%;
    text-align: center;
    border-radius: 8px;
    display: block;
}

.Elemento section > h3{
    width: auto;
    max-height: 25px;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 130%;
    font-family: 'Inter', sans-serif;
    color: rgb(212, 212, 212);


}

.Elemento section > p{
    min-height: 100px;
    padding: 8px 20px;
    margin-top: 0;
    padding-top: 1rem;
    font-size: 14px;
    font-weight: 400;
    color: rgb(212, 212, 212);
    font-family: "Nunito", serif;
    
}


/* ------------------------------------ Container section Servicios ------------------------------------ */

.servicio{
    background-color: #10205e;
    border-radius: 13px;
    width: 350px;
    height: 480px;
    margin: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.servicio h3{
    padding: 1rem 2rem;
}

.caption{
    font-family: "Patua One", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7rem;
  }

.servicio p{
    padding: 1rem 2rem;
    margin: 0;
    color: white;
    font-family: "Nunito", serif;
}

#boton{
    background-color: #2986c4;
    text-align: center;
    width: 140px;
    text-transform: uppercase;
    display: block;
    outline: none;
    border: none;
    margin: 20px auto;
    padding: 14px 10px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.61) 2px 2px 2px;
    cursor: pointer;
}

#boton:hover{
    background-color: #0004ff;
    box-shadow: none;
}

/* ------------------------------------ section 3 ------------------------------------ */

.parrafo-grid{
    font-family: Poppins, serif;
}

.imagen-grid{
    width: 80%;
    height: 490px;
    background-image: url('photo/Ubicacion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto; padding: 0 10px;
    border-radius: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
    
}

.imagen-grid div{
    position: relative;
}

.imagen-grid div::after{
    content: "Para emergencias, somos la clinica m치s r치pida y efectiva, con atenci칩n inmediata las 24 horas.";
    width: 92%;
    height: 80px;
    padding: 10px 5px 10px 15px;
    font-size: 18px;
    font-family: Poppins, serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    position: absolute;
    border-radius: 5px;
    box-shadow: gray 0px 0px 1.5px;
    left: 2%;
    bottom: -540px;
}

#boton-solicitar{
    width: 280px;
    height: 50px;
    position: relative;
    border: none;
    border-radius: 5px;
    font-family: Poppins, serif;
    font-size: 15px;
    color: white;
    background-color: orange;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* #boton-solicitar::before{
    content: url(https://img.icons8.com/color/35/whatsapp--v1.png);
    left: 15px;
    top: 25px;
} */

#boton-solicitar:hover{
    width: 310px;
    height: 60px;
    font-size: 17px;
}

.parrafo-grid-btn{
    font-family: Poppins, serif;
    font-size: 14px;
}

.parrafo-grid-btn::after{
    content: "游";
}


/* ------------------------------------ section 4 ------------------------------------ */

#banner2{
    width: 100%;
    min-height: 700px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    /* background: linear-gradient( rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(photo/Pastillas.jpg) no-repeat center center fixed; */
}

#elergirnos{
    width: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 2rem 0;
}

.elemento-banner2{
    width: 360px;
    height: 300px;
    background-color: white;
    border-radius: 3px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.parrafo-grid-h3{
    font-family: Poppins, serif;
    font-weight: 500;
    /* font-size: ; */
}




/* ------------------------------------ section 5 ------------------------------------ */

.preguntas-frecuentes{
    font-weight: 500;
    font-size: 19px;
    font-family: Poppins, serif;   
}

.container-preguntas{
    width: 650px;
    height: 73px;
    padding: 0 20px;
    border: 0.2px solid rgb(214, 213, 213);
    background-color: #ebe9e9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* ------------------------------------ footer ------------------------------------ */


#footer{
    color: white;
    display: flex;
    flex-direction: column;
}

.pie-depagina *{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titulos-footer{
    font-weight: 300;
    display: inline-block;
    margin: 1rem 0;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.pie-depagina{
    background-color: #111111;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    line-height: 1.4rem;
}

#footer div section{
    margin: 8px 0;
    padding: 15px;
}

.sobre-nosotros{
    width: 38%;
}

.navegacion{
    width: 27%;
}

.Contactenos{
    width: 30%;
}

.sobre-nosotros p{
    line-height: 1.4rem; /* Espaciado entre en el Texto */
    padding-bottom: 1rem;
    color: #e0e0e0;
    font-family: Poppins, serif;
    font-size: 1rem;
    font-weight: 300;
}

.nav li a{
    display: inline-block;
    padding: 3px 7px;
    margin-bottom: .6rem;
    color: #e0e0e0;
    font-family: Poppins, serif;
    font-size: 1rem;
    font-weight: 300;
}

.nav li a:hover{
    color: #737373;
}

.ubicacion-contacto li{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 2px 9px;
}

.ubicacion-contacto p{
    margin: 4px 2px;
    padding: 4px 2px;
    color: #e0e0e0;
    font-family: Poppins, serif;
    font-size: 1rem;
    font-weight: 300;
}

.fa solid{
    font-size: 1rem;
    max-width: 1.2rem;
}

.ubicacion-contacto span:hover{
    background-color: #10c22b;
}


.pie{
    color: white;
    text-align: center;
    line-height: 1.4rem;
    background-color: #303030;
    padding: .5rem;
    font-family: Poppins, serif;
    font-size: 1rem;
    font-weight: 300;

}

/* ------------------------------------ section 5 ------------------------------------ */


.profesionales{
    width: 98%;
    max-height: auto;
    margin: 4px 0px;
    padding: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #111111; */
}

#person{
    width: 78%;
    margin: 15px;
    padding: 5px;
    border-radius: 8px;
    background: #6affa2; /* verde */
    box-shadow: #484848 3px 3px 2px;
    background:-ms-linear-gradient (bottom, #91ff80, #ff4a2b);
}

#container-info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url('photo/Ubicacion.jpg');
    background-position: right;
    background-size: cover;
}  

#contacto1{
    margin: 7px;
    /* border: 1px solid #111111; */
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}

#contacto2{
    margin: 7px;
    /* border: 1px solid #111111; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column: 3/5;
}

.contact{
    background-color: #10205e;
    margin: 26px 4px 16px 4px;
    padding: 11px 16px;
    color: white;
    text-align: center;
    border: 3px solid #78d547;
    border-radius: 33px 1px 33px 1px;
    box-shadow: black 2px 2px 3px;
}

#redes{
    width: 98%;
    margin: 4px 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

#redes li{
    width: 70%;
    margin: 12px 0px;
    background: Lightgray;
    text-align: center;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: #353535 3px 3px 4px;
    list-style: none;
    cursor: pointer;
}

#rr{
    width: 98%;
    margin: 4px 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

#red1{
    width: 40%;
    padding: 4px;
    color: white;
    border: 2px solid white;
    background-color: #1577ff;
    border-radius: 8px;
    cursor: pointer;
}

#red2{
    width: 40%;
    padding: 4px;
    color: white;
    border: 2px solid white;
    background-color: #de0089;;
    border-radius: 8px;
    cursor: pointer;
}

#red3{
    width: 40%;
    padding: 4px;
    color: white;
    border: 2px solid white;
    background-color: #5db1de;
    border-radius: 8px;
    cursor: pointer;
}

#red4{
    width: 40%;
    padding: 4px;
    color: white;
    border: 2px solid white;
    background-color: #48d811;
    border-radius: 8px;
    cursor: pointer;
}

#facebook{
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

#facebook.facebook-toggle{
    transform: scale(1);
    transition-duration: 0.5s;
    opacity: 1;
}

#instagram{
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

#instagram.instagram{
    transform: scale(1);
    transition-duration: 0.5s;
    opacity: 1;
}

#twitter{
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

#twitter.twitter-toggle{
    transform: scale(1);
    transition-duration: 0.5s;
    opacity: 1;
}

#whatsapp{
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

#whatsapp.whatsapp-toggle{
    transform: scale(1);
    transition-duration: 0.5s;
    opacity: 1;
}

/* ------------------------------------ Pie de P치gina Extendido ------------------------------------ */
/* #footer{
    color: white;
    display: flex;
    flex-direction: column;
}

.pie-depagina *{
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titulos-footer{
    font-weight: 300;
    display: inline-block;
    margin: 1rem 0;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.pie-depagina{
    background-color: #111111;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    line-height: 1.4rem;
}

#footer div section{
    margin: 8px 0;
    padding: 15px;
    /* border: 1px solid white;
}

.sobre-nosotros p{
    font-size: .9rem;
    line-height: 1.4rem; /* Espaciado entre en el Texto
    padding-bottom: 1rem;
    color: #e0e0e0;
    font-family: 'Noto Sans Nushu', sans-serif;
    font-weight: 500;
}

.nav li a{
    display: inline-block;
    padding: 3px 7px;
    margin-bottom: .6rem;
    color: #e0e0e0;
    font-family: 'Noto Sans Nushu', sans-serif;
}

.nav li a:hover{
    color: #737373;
}

.ubicacion-contacto li{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 2px 9px;
}

.ubicacion-contacto p{
    margin: 4px 2px;
    padding: 4px 2px;
    color: #e0e0e0;
    font-family: 'Noto Sans Nushu', sans-serif;
}

.fa solid{
    font-size: 1rem;
    max-width: 1.2rem;
}

.ubicacion-contacto span:hover{
    background-color: #10c22b;
}


.pie{
    color: white;
    text-align: center;
    font-size: .9rem;
    line-height: 1.4rem;
    background-color: #303030;
    padding: .5rem;
    font-family: 'Sen', sans-serif;

} */

/* Large screen   
@media(min-width: 770px){
    #menu{
        top: 3.1rem;
    }
    
    .imagen{
        padding: 8px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    #navegacion{
        /* width: 96%;
        flex-flow: row wrap;
        
    }
    
    #navegacion a{
        width: 15%;
    }
    
    #Forums{
        width: 98%;
        padding: 4px;
        margin: 15px 2px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);        
        grid-auto-rows: minmax(180px, auto);
        gap: 1em;
    }
    
    .Elemento h3{
        /* border: 1px solid black;

        font-size: 94%;
        align-self: start;   
    }
    
    .Elemento p{
        /* border: 1px solid black;
        align-self: start;
        font-size: 94%;
    }
    
    
    /* #fecha{
        height: auto;
        align-self: end;
        font-size: 62%;
        background: white;
        
    }
    
    #container-info{
        grid-template-columns: 1fr 1fr;
    } 

    .profesionales{
        min-height: 240px;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;

    }
    
    #person{
        width: 50%;
    }
    
    #redes{
        min-height: 240px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #redes li{
        width: 78%;
        padding: 0px 5px;
    }
    
    #red1{
        min-width: 60%;
    }
    
    #red2{
        min-width: 60%;
    }
    
    #red3{
        min-width: 60%;
    }
    
    #red4{
        min-width: 60%;
    }

    .pie-depagina{
        flex-direction: row;
    }
    
    #footer div section{
    padding: 9px;
    }

    .sobre-nosotros{
        width: 38%;
    }
    
    .navegacion{
        width: 27%;
    }
    
    .Contactenos{
        width: 30%;
    }

}

@media(min-width: 761px) and (max-width: 980){
    
    .sobre-nosotros{
        width: 42%;
    }
    
    .navegacion{
        width: 27%;
    }
    
    .Contactenos{
        width: 42%;
    }
} */